
body {
    font-family: 'DM Serif Text', sans-serif;
    background-color:azure;
    color: #34495E;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo img {
    width: 80px; 
}

h1, h2, h3, p, button {
    font-family: 'DM Serif Text', sans-serif;
    transition: 0.4s;
}

input:focus, textarea:focus {
    outline: none; 
    border: 5px solid #f0ffff !important;
    box-shadow: 0 0 5px #cccccc; 
    transition: 0.2s;
}
.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding-top: 56px;
}


.input-section, .output-section {
    flex: 1; 
    min-width: 300px;
    margin: 10px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.input-section {
    background-color: #6ce8eba6; 
}

.output-section {
    background-color: #254945; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.input-info {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 0; 
    font-size: 0.9rem; 
    color: #555;
}

.info-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px; 
}

img.muñeco {
    display: block; 
    margin: 0 auto; 
    width: 336px; 
    height: 304px;
    object-fit: cover; 
    background: #16564e;
    border-radius: 24px;
    box-shadow: 0px 0px 16px 20px rgb(22 86 78);
}

.input-section textarea, .output-section textarea {
    width: 100%;
    height: 288px; 
    border: none;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 30px;
    background-color: #ffffff;
    resize: none;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.output-section textarea {
    background-color: #b4d3d3; 
}


.mensaje-encontrado {
    font-size: 1.5rem;
    font-family: 'DM Serif Text', sans-serif;
    color: #b1acac; 
    text-align: center;
    margin-bottom: 0px; 
}

.instrucciones {
    font-size: 1rem; 
    font-family: 'DM Serif Text', sans-serif; 
    color: #ffffff;
    text-align: center;
    margin-top: 0; 
}

.buttons-container {
    display: flex;
    gap: 10px;
    margin-top: 0.2rem; 
}

.buttons-container button, #copiar {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%; 
}

#encriptar:hover {
    background-color: #00132a; 
}

#desencriptar:hover, #copiar:hover {
    background-color: #616161;
    color: white;
}


/* Ocultar el botón copiar por defecto */
textarea#resultado, #copiar {
    display: none; /* Oculta el textarea y el botón por defecto */
}



/* Estilo para los botones específicos */
#encriptar {
    background-color:#0A3871;
    color: white;
}

#desencriptar, #copiar {
    background-color: #D8DFE8;
    color: #34495E;
    border: 2px solid #34495E;
}

button:hover {
    opacity: 0.9;
}

/* Diseño responsivo */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }
    
    .input-section, .output-section {
        width: 100%;
        margin: 10px;
    }
    
    .buttons-container {
        flex-direction: column;
        gap: 10px;
    }

    .output-section img {
        width: 100%;
        height: auto;
    }

    /* Ajustes para el logo */
    .logo {
        position: static; /* Cambia a estático en pantallas más pequeñas para que no se superponga */
        margin: 20px 0px; /* Añade margen para separar el logo del contenido */
    }
    
    .logo img {
        width: 60px; /* Ajusta el tamaño del logo para pantallas más pequeñas */
    }
}

